.dots-and-boxes-container {
  width: 100vw;
  min-height: 100vh;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dots-and-boxes-wrapper {
    width: 500px;
    height: 500px;
    background-color: transparent;
    display: flex;
    flex-direction: column;

    .lines-wrapper {
      display: grid;
      width: 100%;
      height: 100%;

      .horizontal-group {
        width: 100%;
        height: 100%;
        display: flex;

        .horizontal-lines {
          height: 100%;
          width: 100%;
          background-color: transparent;

          &:hover {
            background-color: white;
            cursor: pointer;
          }

          &:active {
            background-color: black;
          }
        }

        .active {
          background-color: black;

          &:hover {
            background-color: black;
          }
        }
      }

      .vertical-group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .vertical-lines {
          width: 5px;
          height: 100%;
          background-color: transparent;

          &:hover {
            background-color: white;
            cursor: pointer;
          }

          &:active {
            background-color: black;
          }
        }

        .active {
          background-color: black;

          &:hover {
            background-color: black;
          }
        }
      }
    }

    .dots-wrapper {
      position: absolute;
      width: 512px;
      height: 512px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translate(-6px, -6px);
      pointer-events: none;

      .dot-group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .dot {
          width: 15px;
          height: 15px;
          background-color: black;
          border-radius: 50%;
        }
      }
    }

    .wins-wrapper {
      position: absolute;
      width: 500px;
      height: 500px;
      display: grid;
      pointer-events: none;

      .win-group {
        width: 100%;
        display: grid;

        .win {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
